<div class="page-header">
	<div class="row align-items-end">
		<div class="col-lg-8">
			<div class="page-header-title">
				<i class="ik ik-inbox bg-blue"></i>
				<div class="d-inline">
					<h5>Quản lý quà tặng</h5>
					<p>Thêm, chỉnh sửa quà tặng</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<nav class="breadcrumb-container" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="../index.html"><i class="ik ik-home"></i></a>
					</li>
					<li class="breadcrumb-item">
						<a href="#">Quản lý quà tặng</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Danh sách quà tặng</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
