.price-area{
	text-align:right;
}
	.price-area > div:not(:last-child) {
		margin-bottom:20px
	}
.price-area > div span:last-child {
	min-width:120px;
	display:inline-block;
}
	.price-area .total-price {
		font-size:20px;
		font-weight:500;
		color:orange;
	}
.customer-info > div:not(:last-child) {
	margin-bottom: 10px
}
.customer-info > div *:first-child {
	font-weight:bold;
}
.customer-info textarea {
	width:100%;
	height:80px;
}
.order-products .card-body{
	padding:0;
}
.product-name-heading {
	width: 300px;
}
th.product-price-heading,tr td.product-price-data {
	padding-right: 20px;
	text-align: right;
}


