<div class="shop-single-blog">
	<img src="http://wpthemesgrid.com/themes/eshop/images/blog1.jpg" alt="#">
	<div class="content">
		<p class="date">22 July , 2020. Monday</p>
		<a href="#" class="title">Sed adipiscing ornare.</a>
		<a href="#" class="more-btn">Continue Reading</a>
	</div>
</div>
