
<div class="blog-item">
	<div class="blog-thumbnail-wrapper">
		<a href="" class="blog-thumbnail-link">
			<img class="blog-thumbnail" src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/96736412_658584451663987_2919319649394884608_o.jpg?_nc_cat=103&_nc_sid=730e14&_nc_ohc=EJLHgv1WEr0AX8EoDXO&_nc_ht=scontent.fdad3-1.fna&oh=3e97edd2061e9b3ce56a3731db73262b&oe=5EEE539C" alt="#">
		</a>
	</div>
	<div class="blog-content box-shadow">
		<div class="blog-category">
			<a href="">Đời Sống</a>
		</div>
		
		<a href="" class="blog-title">Tự Làm Body Scrub Tại Nhà</a>
		
		<time class="blog-date">20.05.2020</time>
	</div>
</div>
