@*@model  List<startup_website_asp.net.Models.CartItem>*@

<div class="sinlge-bar shopping" id="cartItem">
    @*<a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count" id="countProduct"> </span></a>*@
    <!-- Shopping Item -->
    @*<div class="shopping-item">
            <div class="dropdown-cart-header">
                <span id="countProductCart">0</span><span> sản phẩm</span>
                <a href="/Carts/ProductCart">Xem giỏ hàng</a>
            </div>
            <ul class="shopping-list">
                <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/410JgUQrevL._AC_SL_QL70_.jpg" alt="#"></a>
                    <h4><a href="#">Nhẩn nữ</a></h4>
                    <p class="quantity">1x - <span class="amount">3.000.000đ</span></p>
                </li>
                <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://cdn.shopify.com/s/files/1/0063/7740/6519/collections/Bling-new-site-pendant-delicate-330x370.jpg?v=1566398115" alt="#"></a>
                    <h4><a href="#">Dây chuyền nữ</a></h4>
                    <p class="quantity">1x - <span class="amount">5.000.000đ</span></p>
                </li>
            </ul>
            <div class="bottom">
                <div class="total">
                    <span>Tổng cộng</span>
                    <span class="total-amount">8.000.000đ</span>
                </div>
                <a href="checkout.html" class="btn animate">Thanh toán </a>
            </div>
        </div>*@
    <!--/ End Shopping Item -->
</div>


