
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-single section">
    <div class="container mt-2">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bread-inner">
                            <ul class="bread-list">
                                <li><a href="/home/index">Home<i class="ti-arrow-right"></i></a></li>
                                <li class="active"><a href="#">Blogs <i class="ti-arrow-right"></i> </a></li>
                                <li class="active"><a href="#">Nếu mọi người xung quanh ai cũng viết blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8 page-content">
                <h2 class="blog-title">Nếu mọi người xung quanh ai cũng viết blog</h2>
                <div class="blog-meta">
                    <span class="author"><a href="#"><i class="fa fa-user"></i>By Admin</a><a href="#"><i class="fa fa-calendar"></i>Dec 24, 2018</a><a href="#"><i class="fa fa-comments"></i>Comment (15)</a></span>
                </div>
                <p>Hãy tưởng tượng, nếu hơn 7 tỉ người trên thế giới ai cũng viết blog, thì chuyện gì sẽ xảy ra?</p>
                <p>Mà thôi nói gần hơn, nếu 90 triệu <strong>người Việt Nam ai cũng viết blog</strong>, thì cuộc sống xung quanh sẽ thay đổi như thế nào? 🙂</p>
                <p>…</p>
                <p>Hế lô anh em, bài này mình muốn <em>“đàm đạo”</em> với anh em về chuyện viết blog. Bản thân mình đang viết blog, và mình muốn đồng bọn mình cũng viết blog.</p>
                <p>Ích lợi của việc viết blog thì ai cũng rõ. Nhưng nhìn ở một khía cạnh khác, <strong>nếu ai cũng viết blog thì thế giới này sẽ ra sao?</strong></p>
                <p>Sau nhiều lần ám ảnh với câu hỏi mông lung như một trò đùa này, hôm nay mình quyết định sẽ tổng hợp lại những ý nghĩ của mình về câu chuyện viết blog, chia sẻ và thảo luận cùng anh em.</p>
                <p style="        text-align: center;
"><img data-attachment-id="1850" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif1/" data-orig-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif1.gif?fit=245%2C135&amp;ssl=1" data-orig-size="245,135" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif1" data-image-description="" data-medium-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif1.gif?fit=245%2C135&amp;ssl=1" data-large-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif1.gif?fit=245%2C135&amp;ssl=1" class="aligncenter wp-image-1850" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif1.gif" alt="" width="432" height="238" data-recalc-dims="1"></p>
                <p>…</p>
                <p>Có một điều cần làm rõ là blog ở đây là <em>“blog cá nhân”</em>.</p>
                <p><em>Blog cá nhân là nơi mình sẽ quẳng lên đây một nội dung gì đó, và nội dung này<strong>&nbsp;có ích</strong> cho người khác. Từ đó, bản thân mình và cộng đồng sẽ nhận được một giá trị gì đó thông qua việc <strong>cho đi và nhận lại</strong> này.</em></p>
                <p>Đây là ý nghĩa tuyệt vời của blog. Nó giúp cho blog mãi mãi trường tồn. Đến khi nào internet không còn tồn tại nữa, thì blog mới die mà thôi.</p>
                <p>Vậy thì,<strong> nếu mọi người xung quanh ai cũng viết blog, thì cuộc sống của mình sẽ thay đổi như thế nào?</strong></p>
                <p>&nbsp;</p>
                <h1><span id="1_Tai_xe_grab_viet_blog">1. Tài xế grab viết blog</span></h1>
                <p>Có lần mình đi Grab gặp anh tài xế người miền trung. Anh này nói chuyện tâm sự với mình rất nhiều <em>(chắc do nhiều chuyện gặp nhiều chuyện)</em>. Mà nhờ nói chuyện với ảnh, mình mới biết có nhiều thứ hay ho trong “giới chạy Grab” :))</p>
                <p>Có thể anh em chưa biết, các tài xế chạy Grab có những “bang phái” riêng. Tức là các hội nhóm, cộng đồng riêng. Cơ cấu hoạt động cũng bài bản, chuyên nghiệp không kém.</p>
                <p style="text-align: center;"><img data-attachment-id="1851" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif2/" data-orig-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif2.gif?fit=480%2C267&amp;ssl=1" data-orig-size="480,267" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif2" data-image-description="" data-medium-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif2.gif?fit=480%2C267&amp;ssl=1" data-large-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif2.gif?fit=480%2C267&amp;ssl=1" class="aligncenter size-full wp-image-1851" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif2.gif" alt="" width="480" height="267" data-recalc-dims="1"></p>
                <p>Mình nghe kể có lần, một anh Grab chạy xe bị va quẹt với người đi đường. Hai anh này hùng hổ lao vào kình lộn, đòi phang nhau búa lua xua. Thế là anh Grab này liền lên Zalo, báo tin cho đồng bọn.</p>
                <p>Trưởng bang phái ngay lập tức điều phối 500 anh em tới dẹp loạn. 5 phút sau, đám đông được giải tán, và phần lợi thuộc về ai thì anh em cũng đã biết :3</p>
                <p>Nhưng kể vậy thì cũng hơi tiêu cực. Việc hoạt động theo bang phái có cái lợi cực kỳ lớn, đó là anh em dễ dàng support lẫn nhau.</p>
                <p>Lần đó mình đi ra ga xe lửa, tầm khoảng 7 giờ tối, đường kẹt cứng ngắt. Thế là anh Grab mới vô group Zalo, tìm sự trợ giúp của anh em, xem thử đi tuyến nào cho đỡ kẹt xe nhất.</p>
                <p>Mà Zalo có chế độ gửi tin nhắn bằng giọng nói. Người này ghi âm, rồi gửi tin nhắn cho người khác. Anh Grab chở mình chỉ việc mở đoạn thu âm, rồi bật loa ngoài. Cứ vậy mà anh em trao đổi thông tin với nhau, <em><strong>chả khác gì tổng đài taxi</strong></em> hết. Quá tiện, quá hiệu quả. Nhờ vậy mà lần đó mình mới không bị trễ tàu.</p>
                <p>Anh em thấy đó, một người chạy Grab có rất <strong>nhiều thứ hay ho để kể</strong>, mà không phải ai cũng nghe được. Và quan trọng hơn hết là những câu chuyện này <strong>rất có ích cho cuộc sống</strong> của mình.</p>
                <p>Một người dùng cuối như mình rõ ràng là <em>được lợi rất nhiều</em> khi nghe những câu chuyện, những kinh nghiệm từ một blogger chạy Grab.</p>
                <p><em>Từ việc cơ chế Grab bắt xe như thế nào, làm sao bắt xe trong giờ cao điểm, cách tính tiền ra sao, thường thì đi giờ nào ít tiền nhất, vâng vâng và mây mây.</em></p>
                <p>Ngoài ra, đọc blog của một tài xế chạy Grab, giúp mình hiểu hơn về những khó khăn của họ. Biết được nghề này sướng ra sao, khổ chỗ nào. Từ đó, có phần cảm thông hơn khi sử dụng dịch vụ.</p>
                <p>Chưa kể một blogger chạy Grab sẽ <em>giúp ích rất nhiều cho những newbies với vào nghề</em>. Đó là những kinh nghiệm được chia sẻ lại, hay những lời khuyên từ các bậc tiền bối, nhiều vô kể.</p>
                <p><strong>Do đó, ai cũng nên viết blog, bất kể ngành nghề nào, kể cả một nghề <em>“nghe có vẻ không liên quan mấy”</em> như chạy Grab, chẳng hạn.</strong></p>
                <p>&nbsp;</p>
                <h1><span id="2_Dieu_duong_ho_ly_viet_blog">2. Điều dưỡng, hộ lý viết blog</span></h1>
                <p><em>…”Điều dưỡng, hộ lý viết blog làm gì chaaaaa?”</em></p>
                <p>Đó có thể là câu hỏi đầu tiên xuất hiện trong đầu khi anh em đọc tới phần này.</p>
                <p>Nghe thì có vẻ không liên quan, nhưng đúng là… không liên quan thiệt :))</p>
                <p>Đùa chứ nếu mình nghĩ không liên quan thì nó sẽ không liên quan thiệt. Còn nếu mình nghĩ có liên quan, hoặc thậm chí là liên quan mật thiết nữa, thì nó lại rất liên quan. Não mình nó lạ lùng vậy đóa.</p>
                <p style="text-align: center;"><img data-attachment-id="1852" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif3/" data-orig-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif3.gif?fit=480%2C281&amp;ssl=1" data-orig-size="480,281" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif3" data-image-description="" data-medium-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif3.gif?fit=480%2C281&amp;ssl=1" data-large-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif3.gif?fit=480%2C281&amp;ssl=1" class="aligncenter size-full wp-image-1852" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif3.gif" alt="" width="480" height="281" data-recalc-dims="1"></p>
                <p>Rõ ràng nghề y tá với việc viết blog chả ăn nhậu gì với nhau cả. Mà nếu viết thì cũng chả biết viết gì.</p>
                <p>Nhưng nhìn nhận sâu một chút. Mình cho rằng: <strong>làm điều dưỡng hay hộ lý thì <em>rất rất rất nên</em> có blog riêng cho cá nhân mình</strong>.</p>
                <p><em>Vì sao?</em></p>
                <p>Công việc y tá tiếp xúc trực tiếp với bệnh nhân và người nhà bệnh nhân. Và dĩ nhiên, họ còn tiếp xúc với bác sĩ nữa. Một ngày họ gặp biết bao nhiêu ca bệnh, mỗi ca bệnh mỗi cách xử lý khác nhau.</p>
                <p>Giả sử nếu họ chia sẻ những <strong>ca bệnh hay gặp nhất</strong>, nguyên nhân và <strong>cách họ hay xử lý</strong>. Thì đó chắc chắn là một <em>thông tin cực kỳ hữu ích với cộng đồng</em>.</p>
                <p>Internet là môi trường lan tỏa thông tin cực kỳ “ghê gớm”.</p>
                <p>Nếu anh em chia sẻ gì đó bèo nhèo, thì thông tin chỉ dừng ở đó và có mỗi một mình mình đọc. Còn nếu những gì anh em chia sẻ là đúng, hay, chất lượng và có giá trị thật sự, thì nó sẽ lan tỏa cực kỳ nhanh.</p>
                <p><img data-attachment-id="1855" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif6/" data-orig-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif6.gif?fit=400%2C299&amp;ssl=1" data-orig-size="400,299" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif6" data-image-description="" data-medium-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif6.gif?fit=400%2C299&amp;ssl=1" data-large-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif6.gif?fit=400%2C299&amp;ssl=1" class=" wp-image-1855 alignright" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif6.gif" alt="" width="314" height="235" data-recalc-dims="1"></p>
                <p>Đợt tháng 9 vừa rồi mình có người thân bị sốt xuất huyết. Nhờ vậy mà mình mới biết những dấu hiệu của sốt xuất huyết, những việc nên làm cũng như kinh nghiệm chăm người bệnh.</p>
                <p>Đợt đó người nhà mình phải đi xét nghiệm máu đến 3 lần.</p>
                <p>Lần đầu tiên xét nghiệm thì virus dengue chưa phát sinh, nên chưa ra bệnh sốt xuất huyết. Đến lần thứ 2 xét nghiệm thì mới phát hiện sốt xuất huyết, cho nhập viện. Và lần thứ 3 là xét nghiệm lại trước khi cho ra viện.</p>
                <p>Nếu mình biết trước những kinh nghiệm này thì đã không mắc công đi xét nghiệm máu lần đầu tiên. Vừa xa, vừa cực, vừa tốn kém chi phí. Hoặc nếu có thì cũng chờ đến 3-4 ngày sau khi phát sốt thì mới đi xét nghiệm.</p>
                <p>Mỗi năm nước mình có hơn 60 nghìn ca mắc sốt xuất huyết. Một bệnh cực kỳ, cực kỳ phổ biến.</p>
                <p>Nếu ai cũng đi xét nghiệm máu như mình thì cơ sở vật chất nào chịu nổi. Chưa kể bây giờ các bệnh nhiệt đới tập trung lại, mỗi một tỉnh chỉ có một chỗ điều trị. Bên cạnh đó là những bệnh phổ biến khác.</p>
                <p>Những thông tin này rất quan trọng. Kiến thức cơ bản có, nâng cao cao có, ai gặp rồi mới biết cũng có, và nó có thể xảy ra với tất cả mọi người.</p>
                <p>Phải chi y tá, bác sĩ mà chịu khó viết blog thì <strong>biết bao nhiêu thứ hay ho được chia sẻ</strong>. Chắc chắn mình sẽ là người đón đọc đầu tiên.</p>
                <p>Thật ra trong đầu mình, nói không quá thì y tá, điều dưỡng, hộ lý là những người <span style="text-decoration: underline;"><em>làm ăn cẩu thả, quan liêu, bê bối, hối lộ, ăn chặn của dân</em></span> (auto chừa những người làm ăn đàng quàng ra nhé anh em).</p>
                <p>Mình cứ lởn quởn trong đầu câu hỏi: <em><strong>không biết họ nghĩ gì về công việc của họ, họ có thấy gì thích thú không, họ có thấy họ quan liêu không, có nản không, nản nhiều không, nản chỗ nào, </strong>abc, xyz…</em></p>
                <p>Và nếu có một <em>“blogger y tá” </em>dám đứng lên, anh dũng, hiên ngang, dẹp sự lười biếng, quan liêu qua một bên. Đứng ra lập một blog, chia sẻ về nghề, về cái sướng, cái khổ trong công việc của họ. Có thể tạm gọi là “mặt trái của nghề y tá” chẳng hạn. Thì có lẽ niềm tin và góc nhìn của bà con về hình ảnh bác sĩ, y tá, hộ lý hay điều dưỡng cũng sẽ được “an ủi” phần nào.</p>
                <p style="text-align: center;"><img data-attachment-id="1854" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif4/" data-orig-file="https://i0.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif4.gif?fit=260%2C216&amp;ssl=1" data-orig-size="260,216" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif4" data-image-description="" data-medium-file="https://i0.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif4.gif?fit=260%2C216&amp;ssl=1" data-large-file="https://i0.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif4.gif?fit=260%2C216&amp;ssl=1" class="aligncenter wp-image-1854" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif4.gif" alt="" width="414" height="344" data-recalc-dims="1"></p>
                <p>&nbsp;</p>
                <h1><span id="3_Nhan_vien_van_phong_viet_blog">3. Nhân viên văn phòng viết blog</span></h1>
                <p>Khoảng thời gian gần đây, mình thấy cứ nhắc đến cụm từ <em>“nhân viên văn phòng”</em> là tràn ngập những than vãn kiểu: <em>nhân viên văn phòng lương bèo bọt, tháng 4-5 chục triệu, à nhầm 4-5 triệu, công việc nhàm chán, không có khả năng thăng tiến, abc, xyz.</em></p>
                <p>Cũng như concept của 2 ý trên, một blogger làm nhân viên văn phòng sẽ chia sẻ những <em><strong>“</strong><strong>câu chuyện chốn công sở”</strong></em> của họ.</p>
                <p>Chia sẻ những gì họ học được, làm được. Ít nhiều những chia sẻ này sẽ <strong>mang lại một phần giá trị</strong> nào đó cho người khác.</p>
                <p>Nó có thể giúp người khác có cái nhìn tích cực hơn, yêu đời hơn về công việc “<em>nhân-viên-văn-phòng”</em> <strong>mà họ đang chán nản hằng ngày.</strong></p>
                <p style="text-align: center;"><img data-attachment-id="1857" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif7/" data-orig-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif7.gif?fit=480%2C181&amp;ssl=1" data-orig-size="480,181" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif7" data-image-description="" data-medium-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif7.gif?fit=480%2C181&amp;ssl=1" data-large-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif7.gif?fit=480%2C181&amp;ssl=1" class="aligncenter size-full wp-image-1857" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif7.gif" alt="" width="480" height="181" data-recalc-dims="1"></p>
                <p>Hoặc thậm chí, họ có thể chỉ đơn thuần kể về những khó khăn gặp phải. Chốn thị phi nơi công sở thì biết bao nhiêu chuyện đàm tiếu để mà kể.</p>
                <p>Và đương nhiên sau cùng vẫn là kinh nghiệm đúc kết từ chính bản thân. <strong><em>Vì chẳng có ai rảnh rỗi mà đi nghe người khác kể lể, than vãn, mà không học được một bài học gì cả.</em></strong></p>
                <p>Thời sinh viên trẻ trâu mình cũng hay lên phòng hành chính của trường đóng tiền (lên nhiều lần là do đóng nhiều loại học phí, chứ hổng phải đóng tiền thi lại nha anh em :)).</p>
                <p>Theo mình thấy thì hầu như nhiệm vụ chính của mấy cô trong phòng là <em>tiếp sinh viên &gt;&gt; nhận giấy tờ liên quan &gt;&gt; ký &gt;&gt; đóng mộc &gt;&gt; thối tiền &gt;&gt; rồi gửi lại biên nhận</em>. Cứ lặp đi lặp lại, hết sinh viên này tới sinh viên khác, ngày này qua ngày khác.</p>
                <p><em>Mình cũng tự hỏi: <strong>làm vậy rồi chán chịu sao nổi?&nbsp;</strong></em></p>
                <p>Tương tự là với nhân viên lễ tân, thu ngân, soát vé…</p>
                <p>Còn những người làm telesales, một ngày họ nhận cả trăm cái từ chối, nặng có, nhẹ có. <em><strong>Cảm xúc, suy nghĩ của họ ra sao</strong></em>, <em><strong>họ vượt qua như thế nào?</strong></em></p>
                <p>Hay là nhân viên kế toán. Suốt ngày làm việc với số, đầu quay ù ù, có cái gì hay ho, thú vị mà <em><strong>sao người ta cứ thích làm?&nbsp;</strong></em>Tương tự là tổng đài viên, bình luận viên bóng đá…</p>
                <p>Những vị trí mà mình tin là: <span style="text-decoration: underline;">không ít người như mình</span>, cũng tò mò muốn hiểu thật sự công việc của họ <em><strong>hay chỗ nào, chán chỗ nào</strong></em>.</p>
                <p>Đâu đó có thể nó có ích cho mình, cho công việc BA của mình. Và đặc biệt là có ích cho những người muốn chuyển qua làm những nghề như thế này.</p>
                <p>Nhưng sau cùng thì chỉ có người trong cuộc mới biết rõ: họ chán thế nào, vui ra sao, trong cái nghề <em>nhân-viên-văn-phòng</em>&nbsp;mà họ chọn 🙂</p>
                <p>&nbsp;</p>
                <h1><span id="4_Salesman_viet_blog">4. Salesman viết blog</span></h1>
                <p>Thú thật với anh em, nếu mình làm sales, <strong>chắc chắn mình phải viết blog</strong>, không thể khác được!</p>
                <p style="text-align: center;"><img data-attachment-id="1859" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif8/" data-orig-file="https://i0.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif8.gif?fit=478%2C266&amp;ssl=1" data-orig-size="478,266" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif8" data-image-description="" data-medium-file="https://i0.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif8.gif?fit=478%2C266&amp;ssl=1" data-large-file="https://i0.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif8.gif?fit=478%2C266&amp;ssl=1" class="aligncenter size-full wp-image-1859" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif8.gif" alt="" width="478" height="266" data-recalc-dims="1"></p>
                <p>Như mình nói ở đầu bài, blog cá nhân là nơi mình <strong>chia sẻ gì đó có giá trị</strong> cho người khác.</p>
                <p>Hãy thử tưởng tượng…</p>
                <p><em>Anh em đang lên mạng tìm mua chung cư, bắt gặp một anh blogger đẹp-chai-cute-hột-me chuyên chia sẻ kinh nghiệm mua nhà vô cùng chi tiết và chân thật. Từ việc chọn hướng nhà ra sao, phong thủy thế nào, chi phí nhà cửa, abc, xyz…</em></p>
                <p>Toàn bộ đều được ảnh <strong>dốc hết ruột gan</strong> ra chia sẻ, từ bao năm kinh nghiệm mua nhà trày da trốc vảy của ảnh. Như vậy còn gì hạnh phúc bằng.</p>
                <p>Anh này ảnh rất rành về nhà cửa, vì ảnh đã từng đi mua nhà cho vợ chồng ảnh ở. <strong>Kinh nghiệm thực tế</strong> chứ hổng xạo ke.</p>
                <p>Chưa kể ảnh còn có bề dày kinh nghiệm bán nhà cho người khác nữa, vì ảnh làm…sales bất động sản mà 🙂</p>
                <p><strong>Ảnh biết rõ</strong>, thế nào là một căn nhà tốt.</p>
                <p><strong>Ảnh biết rõ</strong>, với những tiêu chí này của khách, thì căn Sala 4,6 tỷ phù hợp hơn nhiều, so với căn Sunrise 5,4 tỷ.</p>
                <p><strong>Ảnh biết rõ</strong>, dự án ABC sắp tới khả năng cao là fail, vì ảnh cũng đã từng đầu tư và fail 3-4 dự án như vậy rồi.</p>
                <p><strong>Ảnh biết rõ</strong>, ảnh cần <em><strong>chia sẻ</strong></em> những kinh nghiệm, thông tin chuyên môn của ảnh cho mọi người trên blog cá nhân. <em>Hơn là cứ giữ khư khư</em> cho mình rồi cũng chẳng làm được gì.</p>
                <p><strong>Ảnh biết rõ</strong> ảnh chỉ cần mở máy lạnh, làm ly cà phê,<em> thong thả chia sẻ những bài blog chân thật và chất lượng</em> nhất trên blog cho mọi người cùng tham khảo. Hơn là nhọc công <em>đứng giữa trời nắng phát tờ rơi</em> hay <em>liên tục spam tin nhắn</em> khách hàng một cách vô tôi vạ.</p>
                <p><strong>Và ảnh biết rằng</strong>, khi ảnh đi theo con đường này, <em>khách hàng sẽ tự tìm đến ảnh</em>, chứ ảnh chả cần đi năn nỉ, chèo kéo hay spam bất kỳ ai cả. Vì <em><strong>thông qua blog cá nhân</strong></em>, ảnh đã mang lại giá trị rất lớn cho cộng đồng.</p>
                <p style="text-align: center;"><img data-attachment-id="1860" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif9/" data-orig-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif9.gif?fit=245%2C173&amp;ssl=1" data-orig-size="245,173" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif9" data-image-description="" data-medium-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif9.gif?fit=245%2C173&amp;ssl=1" data-large-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif9.gif?fit=245%2C173&amp;ssl=1" class="aligncenter wp-image-1860" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif9.gif" alt="" width="355" height="251" data-recalc-dims="1"></p>
                <p>Chưa hết, mình còn biết bên Trung Quốc có 1 bà chuyên bán đồ phong thủy, kiếm cả triệu đô hàng tháng. Bả tên là Lillian Too.</p>
                <p>Tất cả những kiến thức bả biết, bả đều chia sẻ trên blog cá nhân của bả hết.</p>
                <p>Chưa kể bả còn cất công ngồi dịch tài liệu phong thủy cổ của Trung Quốc ra tiếng Anh, và phổ biến cho các nước phương Tây nữa.</p>
                <p>Khi đã chia sẻ giá trị rất lớn cho cộng đồng như vậy, việc bán hàng của bả như diều gặp gió. Một giờ tư vấn phong thủy của bả ít nhất lên đến <strong>2,000 đô/ giờ</strong> (thời 2006 xưa lắc xưa lơ). Event bả tổ chức thì thôi rồi, đắt như tôm tươi.</p>
                <p>Cũng như anh bán bất động sản phía trên, bả biết mấu chốt là<strong> lan tỏa giá trị</strong> dựa trên sức mạnh của internet. Chứ hổng phải cứ cắm đầu chạy quảng cáo, rồi mong có khách ghé website mua hàng.</p>
                <p><em><strong>KHI ĐÓ, xung quanh chúng ta chỉ toàn là những blog, trang thông tin chất lượng, giá trị và đáng tin cậy. </strong></em></p>
                <p>Khi có nhu cầu về bất cứ một thứ gì, anh em chỉ việc lên mạng, đọc một số thông tin cần thiết và <strong>chủ động liên lạc</strong> với người salesman mà mình tin tưởng nhất.</p>
                <blockquote><p>Chân thành mà nói thì, trong khi bản thân khách hàng còn chưa hiểu, chưa được educate về bảo hiểm là gì, và nó có lợi như thế nào cho bản thân họ, thì trước mắt hãy cứ share những gì gần gũi, chân thật và thiết thực nhất có thể; thay vì việc suốt ngày spam điện thoại, tin nhắn rồi mong sales về trong vô vọng…</p></blockquote>
                <p>Tương tự là với người bán xe hơi.</p>
                <p>Mình có follow <a href="https://www.youtube.com/channel/UCQPBUY1Gh1sclHm9cje_BBQ" target="_blank" rel="noopener noreferrer">Thắng Trương</a>, một Vlogger trên Youtube.</p>
                <p>Anh này làm nghề bán xe hơi. Ảnh chia sẻ những câu chuyện buồn vui trong sự nghiệp của ảnh. Qua đó, anh em được truyền cảm hứng và tự rút ra bài học cho chính bản thân mình.</p>
                <p>2018 là năm mà ảnh được thăng chức lên vị trí Finance Manager. Và câu chuyện này đã tạo cảm hứng rất lớn cho mình 😎</p>
                <p>Những ai theo dõi ảnh sẽ biết được những khó khăn, những thử thách và những nản chí trên đường leo lên vị trí Manager đó.</p>
                <p>Đây hoàn toàn là <em><strong>những giá trị không thể đo đếm được</strong></em> dành cho những người xung quanh.</p>
                <p>&nbsp;</p>
                <h1><span id="5_Ich_loi_khi_viet_blog">5. Ích lợi khi viết blog</span></h1>
                <p>Trung bình mình mất khoảng 8 tiếng để ra một bài post. Thời gian ăn chơi, đàn đúm, hút chít bị chiếm mất. Game giếc hay mạng xã hội gì cũng ít hẳn. Cảm thấy sự tự do ngày nào bị bay hơi một cách chóng vánh.</p>
                <p>Thay vì lướt facebook cập nhật nhiều thông tin giá trị, hay tụ tập cà phê chém gió bổ ích với bạn bè, mình phải dành khá nhiều thời gian để nhìn nhận lại bản thân.</p>
                <p>Xem thử ngày hôm nay làm gì, có gì hay, có gì dở, học được những gì, cái gì chưa học được, cái gì cần phải học. Rồi còn đọc thêm mấy cuốn sách tẻ nhạt để có ý tưởng lên bài đều đặn. Nói chung cũng khá nhọc công để duy trì việc viết blog.</p>
                <p>Chưa kể viết blog cực khổ như vậy, còn dễ bị ăn gạch đá nữa chứ.</p>
                <p>Viết một bài tâm huyết <em>“đẫm lệ”</em>, mà lỡ chém gió sai một cái là bị chỉnh liền, lệch một cái là nghe góp ý liền. Chứ không được như lúc trước, post mấy cái status ba láp ba xàm trên facebook, mà anh em ai cũng vô like, thả tim rần rần, rồi comment ủng hộ nhiệt tình 😎</p>
                <p style="text-align: center;"><img data-attachment-id="1861" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif10/" data-orig-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif10.gif?fit=282%2C200&amp;ssl=1" data-orig-size="282,200" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif10" data-image-description="" data-medium-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif10.gif?fit=282%2C200&amp;ssl=1" data-large-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif10.gif?fit=282%2C200&amp;ssl=1" class="aligncenter wp-image-1861" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif10.gif" alt="" width="384" height="272" data-recalc-dims="1"></p>
                <p>Mà nhắc tới facebook mới nhớ…</p>
                <p>&nbsp;</p>
                <h1><span id="6_Viet_tren_facebook_cung_co_cai_hay_nhung8230">6. Viết trên facebook cũng có cái hay, nhưng…</span></h1>
                <p>Trên facebook có rất nhiều bài hay, của rất nhiều người giỏi. Họ chia sẻ những câu chuyện của họ, với nhiều mục đích khác nhau.</p>
                <p>Viết trên facebook, hay viết trên blog, bản chất không khác gì nhau. Nhưng <em>môi trường để lan tỏa giá trị</em> một cách hiệu quả thì mình cực đoan cho rằng…</p>
                <blockquote><p><em><strong>Facebook không thể nào sánh bằng Blog.</strong></em></p></blockquote>
                <p>Làm sao để anh em có thể tập trung đọc, nghiền ngẫm một bài viết cực hay trên facebook, khi…</p>
                <p>Đọc được cái mở bài thì có đứa spam tin nhắn.</p>
                <p>Đọc được 4 câu tiếp theo thì có thông báo mới.</p>
                <p>Đọc được 2 đoạn nữa thì có đứa gửi lời mời chơi game.</p>
                <p>Chưa kể, để không bị phân tâm thì mắt mình phải chăm chăm vô một khoảng không ngay giữa màn hình. Nơi status chật vật hiển thị giữa một đống thứ không liên quan xung quanh như: <em>news feed, stories, quảng cáo, game, noti, giai, gái,</em>…</p>
                <p>Chưa kể lúc trước còn có vụ tự động phát video nữa chứ @@</p>
                <p style="text-align: center;"><img data-attachment-id="1862" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-viet-blog-gif11/" data-orig-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif11.gif?fit=500%2C178&amp;ssl=1" data-orig-size="500,178" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-viet-blog-gif11" data-image-description="" data-medium-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif11.gif?fit=500%2C178&amp;ssl=1" data-large-file="https://i2.wp.com/thinhnotes.com/wp-content/uploads/2018/11/neu-ai-cung-viet-blog-gif11.gif?fit=500%2C178&amp;ssl=1" class="aligncenter size-full wp-image-1862" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-viet-blog-gif11.gif" alt="" width="500" height="178" data-recalc-dims="1"></p>
                <p>Để viết trên blog, anh em sẽ phải lên ý tưởng, viết, tìm hình và set up “n” thứ để hoàn thiện một bài post. Effort bỏ ra nhiều hơn rất nhiều so với việc: <em>đăng một tus và đính kèm hình trên facebook.</em></p>
                <p>Công sức bỏ ra không phải lúc nào cũng tỉ lệ thuận với chất lượng. Nhưng đó là <strong>con đường an toàn nhất</strong> để xây dựng một bài viết chất lượng, mang lại giá trị cho 1, 2 người khác, và hơn nữa là cho cả cộng đồng. Và mình tin rằng…</p>
                <blockquote>
                    <p style="text-align: left;"><em>Facebook là nơi hoàn hảo để lan tỏa blog. </em></p>
                    <p style="text-align: left;"><em>Nhưng sau cùng, blog vẫn là nơi mà giá trị của sự chia sẻ được sinh sôi, nảy nở.</em></p>
                </blockquote>
                <p>&nbsp;</p>
                <h1><span id="7_Doc_choi_vay_thoi_chu_dung_viet_blog">7. Đọc chơi vậy thôi, chứ đừng viết blog</span></h1>
                <p>Cái tiêu đề chém gió câu view zậy thôi, chứ mục đích cuối cùng của bài này vẫn là muốn lôi kéo anh em viết blog, kaka. Nói cho vuông thì:</p>
                <blockquote>
                    <p>Muốn viết blog &gt;&gt; phải có ý tưởng</p>
                    <p>Muốn có ý tưởng &gt;&gt; phải đọc nhiều</p>
                    <p>Mà đọc nhiều &gt;&gt; “có thể” giỏi hơn</p>
                    <p>Zậy thôiii!!!</p>
                </blockquote>
                <p>Theo số liệu không chính xác lắm thì có khoảng hơn 500,000,000 blogs cá nhân trên toàn thế giới (<a href="http://mediakix.com/2017/09/how-many-blogs-are-there-in-the-world/#gs.TsmmMu8" target="_blank" rel="noopener noreferrer">Mediakix &amp; Nielsen, 2017</a>). Ước lượng 2020 có thể tăng lên con số 650,000,000 blogs.</p>
                <p><em>Note: Số này là tính luôn một vài anh em lập blog ra rồi đem con bỏ chợ, chưa kể một ông có 2-3 cái blog nữa…</em></p>
                <p>Dân số thế giới là 7,7 tỉ người. Lấy chia ra thì.</p>
                <blockquote><p>Cứ trung bình cứ 15 người, thì có 1 người viết blog.</p></blockquote>
                <p><strong>15 người</strong>, con số không quá nhiều, không quá ít, nhưng cũng đủ để mình <em>“remarkable” </em>chứ hả anh em <em>😎&nbsp;</em></p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>Suy cho cùng, cuộc sống xung quanh ta sẽ <strong>tốt hơn</strong> một chút, <strong>đẹp hơn</strong> một chút, khi giá trị được lan tỏa một cách chân thật và gần gũi nhất, <strong>thông qua blog</strong>!</p>
                <p style="text-align: center;"><img data-attachment-id="1875" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-blog-gif15/" data-orig-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-gif15.gif?fit=460%2C247&amp;ssl=1" data-orig-size="460,247" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-blog-gif15" data-image-description="" data-medium-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-gif15.gif?fit=460%2C247&amp;ssl=1" data-large-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-gif15.gif?fit=460%2C247&amp;ssl=1" class="aligncenter size-full wp-image-1875" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-blog-gif15.gif" alt="" width="460" height="247" data-recalc-dims="1"></p>
                <p>Hi vọng anh em sẽ tìm thấy gì đó hay ho ở bài note này.</p>
                <p>Cuối cùng thì mình cũng đã trả lời cho câu hỏi:<strong>&nbsp;Nếu mọi người xung quanh ai cũng viết blog, thì cuộc sống của mình sẽ thay đổi như thế nào</strong>? 🙂</p>
                <p style="text-align: center;"><img data-attachment-id="1873" data-permalink="https://thinhnotes.com/chuyen-cua-tui/neu-ai-cung-viet-blog/attachment/neu-ai-cung-blog-ending-jpg1/" data-orig-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?fit=2000%2C1333&amp;ssl=1" data-orig-size="2000,1333" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="neu-ai-cung-blog-ending-jpg1" data-image-description="" data-medium-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?fit=2000%2C1333&amp;ssl=1" data-large-file="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?fit=2000%2C1333&amp;ssl=1" class="aligncenter size-full wp-image-1873" src="./Nếu ai cũng blog _ Thinhnotes.com_files/neu-ai-cung-blog-ending-jpg1.jpg" alt="" width="676" height="451" srcset="https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?w=2000&amp;ssl=1 2000w, https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?resize=768%2C512&amp;ssl=1 768w, https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?resize=945%2C630&amp;ssl=1 945w, https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?resize=600%2C400&amp;ssl=1 600w, https://i1.wp.com/thinhnotes.com/wp-content/uploads/2018/12/neu-ai-cung-blog-ending-jpg1.jpg?w=1352&amp;ssl=1 1352w" sizes="(max-width: 676px) 100vw, 676px" data-recalc-dims="1"></p>
                <div class="share-social">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-tags">
                                <h4>Tags:</h4>
                                <ul class="tag-inner">
                                    <li><a href="#">Glass</a></li>
                                    <li><a href="#">Pant</a></li>
                                    <li><a href="#">t-shirt</a></li>
                                    <li><a href="#">swater</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  mt-4">
                    <div class="col-12">
                        <button class="btn-primary p-2">
                            <i class="fab fa-facebook-f"></i>
                            Share Facebook (249)
                        </button>
                    </div>
                </div>
            </div><!-- .post-content -->
            <div class="col-lg-4 col-12">
                <div class="main-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget search">
                        <div class="form">
                            <input type="email" placeholder="Search Here...">
                            <a class="button" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        <h3 class="title">Blog Categories</h3>
                        <ul class="categor-list">
                            <li><a href="#">Men's Apparel</a></li>
                            <li><a href="#">Women's Apparel</a></li>
                            <li><a href="#">Bags Collection</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sun Glasses</a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget recent-post">
                        <h3 class="title">Recent post</h3>
                        <!-- Single Post -->
                        <div class="single-post">
                            <div class="image">
                                <img src="https://via.placeholder.com/100x100" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Top 10 Beautyful Women Dress in the world</a></h5>
                                <ul class="comment">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Jan 11, 2020</li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                        <!-- Single Post -->
                        <div class="single-post">
                            <div class="image">
                                <img src="https://via.placeholder.com/100x100" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Top 10 Beautyful Women Dress in the world</a></h5>
                                <ul class="comment">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 05, 2019</li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>59</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                        <!-- Single Post -->
                        <div class="single-post">
                            <div class="image">
                                <img src="https://via.placeholder.com/100x100" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Top 10 Beautyful Women Dress in the world</a></h5>
                                <ul class="comment">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>June 09, 2019</li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>44</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget side-tags">
                        <h3 class="title">Tags</h3>
                        <ul class="tag">
                            <li><a href="#">business</a></li>
                            <li><a href="#">wordpress</a></li>
                            <li><a href="#">html</a></li>
                            <li><a href="#">multipurpose</a></li>
                            <li><a href="#">education</a></li>
                            <li><a href="#">template</a></li>
                            <li><a href="#">Ecommerce</a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget newsletter">
                        <h3 class="title">Newslatter</h3>
                        <div class="letter-inner">
                            <h4>Subscribe & get news <br> latest updates.</h4>
                            <div class="form-inner">
                                <input type="email" placeholder="Enter your email">
                                <a href="#">Submit</a>
                            </div>
                        </div>
                    </div>
                    <!--/ End Single Widget -->
                    <img src="~/Content/images/qc01.jpg" />
                </div>
            </div>
        </div>
        <div class=" most-popular">
                <div class="row">
                    <div class="col-12 my-3">
                        <h3>Bài viết liên quan</h3>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel popular-slider">
                            <!-- Start Single Product -->
                            <div>
                                <a class="shop-single-blog" href="#">
                                    <img src="https://via.placeholder.com/370x300" alt="#">
                                    <div class="content">
                                        <p class="date">22 July , 2020. Monday</p>
                                        <a href="#" class="title">Sed adipiscing ornare.</a>
                                        <a href="#" class="more-btn">Continue Reading</a>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="shop-single-blog" href="#">
                                    <img src="https://via.placeholder.com/370x300" alt="#">
                                    <div class="content">
                                        <p class="date">22 July , 2020. Monday</p>
                                        <a href="#" class="title">Sed adipiscing ornare.</a>
                                        <a href="#" class="more-btn">Continue Reading</a>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="shop-single-blog" href="#">
                                    <img src="https://via.placeholder.com/370x300" alt="#">
                                    <div class="content">
                                        <p class="date">22 July , 2020. Monday</p>
                                        <a href="#" class="title">Sed adipiscing ornare.</a>
                                        <a href="#" class="more-btn">Continue Reading</a>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="shop-single-blog" href="#">
                                    <img src="https://via.placeholder.com/370x300" alt="#">
                                    <div class="content">
                                        <p class="date">22 July , 2020. Monday</p>
                                        <a href="#" class="title">Sed adipiscing ornare.</a>
                                        <a href="#" class="more-btn">Continue Reading</a>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="shop-single-blog" href="#">
                                    <img src="https://via.placeholder.com/370x300" alt="#">
                                    <div class="content">
                                        <p class="date">22 July , 2020. Monday</p>
                                        <a href="#" class="title">Sed adipiscing ornare.</a>
                                        <a href="#" class="more-btn">Continue Reading</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
</section>

@section js {
    <script>
        $('.popular-slider').owlCarousel({
			items:1,
			autoplay:true,
			autoplayTimeout:5000,
			smartSpeed: 400,
			animateIn: 'fadeIn',
			animateOut: 'fadeOut',
			autoplayHoverPause:true,
			loop:true,
			nav:true,
			merge:true,
            dots:false,
            margin:10,
			navText: ['<i class="ti-angle-left"></i>', '<i class="ti-angle-right"></i>'],
			responsive:{
				0: {
					items:1,
				},
				300: {
					items:1,
				},
				480: {
					items:2,
				},
				768: {
					items:3,
				},
				1170: {
					items:4,
				},
			}
		});
    </script>
}
