
@{
	ViewBag.Title = "Tạo Quà Tặng";
	Layout = "~/Areas/Startup/Views/Shared/_Layout.cshtml";
}
@section style{
	<link rel="stylesheet" href="~/Areas/Admin/Assets/css/StartupProduct.css">
}
<div class="page-header">
	<div class="row">
		<div class="col-lg-5">
			<div class="page-header-title">
				<i class="ik ik-gift bg-blue"></i>
				<div class="d-inline">
					<h5>Quản lý quà tặng</h5>
					<p>Thêm, chỉnh sửa quà tặng</p>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<nav class="breadcrumb-container" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="@Url.Action("ListGift","StartupGift")"><i class="ik ik-home"></i></a>
					</li>
					<li class="breadcrumb-item">
						<a href="@Url.Action("ListGift","StartupGift")">Quản lý quà tặng</a>
					</li>
					<li class="breadcrumb-item active">
						Thêm quà tặng
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		@using (Html.BeginForm("CreateGift", "StartupGift", FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
		{
			<div class="card">
				<div class="card-header ">
					<h3>Thêm quà tặng</h3>
				</div>
				<div class="card-body">
					<form class="forms-sample">
						<div class="form-group">
							<label for="inputName">Tên quà tặng</label>
							<input type="text" name="Name" class="form-control" id="inputName" placeholder="Nhập tên" >
						</div>
						<div class="form-group">
							<div style="margin-bottom: 1.25em;">
								<label>Hình ảnh</label>
								<div class="d-flex flex-wrap">
									<div class="child-wrapper">
										<div class="adding-box rounded adding-box_main">
											<input type="file" name="mainImage" class="image-upload" />
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Số lượng</label>
							<input type="number" name="Quality" class="form-control" placeholder="Số lượng">
						</div>
						<div class="form-group">
							<label>Giá bán</label>
							<input type="number" name="Price" class="form-control" placeholder="Giá bán ngoài thị trường">
						</div>
					</form>
				</div>
				<div class="card-footer text-right">
					<a href="@Url.Action("ListGift", "StartupGift")" class="btn btn-secondary mr-2">Hủy</a>
					<button type="submit" class=" btn btn-dark">Thêm</button>
				</div>
			</div>
        }
		</div>
</div>
@section script{

	<script>
		if (window.File && window.FileList && window.FileReader) {
            var fileInputs = document.querySelectorAll(".image-upload");
            for (var i = 0; i < fileInputs.length; i++) {
                var input = fileInputs[i];
                input.addEventListener("change", (event) => {
                    var file = event.target.files[0];
                    console.log(event);
                    var childWrapper = event.path[2];
                    var inputWrapper = event.path[1];
                    ////Only pics
                    //if (!file.type.match('image'))
                    //	continue;
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        var div = document.createElement("div");
                        div.classList.add('image-wrapper');
                        var btnDelete = `<button type="button" onclick="deleteImage(event)" class="btn-delete btn-icon btn-danger">X</button>`
                        div.innerHTML = "<img id='image' class='image rounded' src='" + picFile.result + "'" +
                            "title='" + picFile.name + "'/>" + btnDelete;
                        inputWrapper.style.display = "none";
                        childWrapper.insertBefore(div, null);
                    });
                    //Read the image
                    picReader.readAsDataURL(file);
                });
            }
        }
        else {
            alert("Your browser does not support File API");
        }
        function deleteImage(event) {
            var childWrapper = event.path[2];
            var imageWrapper = event.path[1];
            var inputWrapper = childWrapper.firstElementChild;
            var input = childWrapper.firstElementChild.firstElementChild;
            input.value = "";
            inputWrapper.style.display = "block";
            $(imageWrapper).remove();
        }
	</script>
}
